<% if !current_user %>

<div class="jumbotron login-body">
  <div id="intro" class="container">
    <h1>hintr</h1>
    <p>find the best options among your friends</p>
    <a href="/auth/facebook" class="btn btn-sm btn-social-facebook" id="sign_in">
      <i class="fui-facebook"></i>
      Connect with Facebook
    </a>
  </div>
</div>

<% elsif !current_user.interested_in %>

<!-- Ask for what user is interested in -->

<div class="interested-in">
  <h1>Welcome <%= current_user.name %> </h1>
  <img src="https://graph.facebook.com/<%= current_user.fb_id %>/picture?width=720&height=720">
  <h3>Select your interest</h3>
  <div class="demo-col">
    <label class="checkbox" for="checkbox1">
      <span class="icons"><span class="first-icon fui-checkbox-unchecked"></span><span class="second-icon fui-checkbox-checked"></span></span><input type="checkbox" value="" id="checkbox1" data-toggle="checkbox">
      Men
    </label>
    <label class="checkbox" for="checkbox2">
      <span class="icons"><span class="first-icon fui-checkbox-unchecked"></span><span class="second-icon fui-checkbox-checked"></span></span><input type="checkbox" value="" id="checkbox2" data-toggle="checkbox">
      Women
    </label>
  </div>
  <a href="#fakelink" class="btn btn-lg btn-block btn-primary" id="interested-in-yes">
    Yes!
  </a>
</div>

<!--
JS:
  in main.js
  Prevent default,
  in interested.js
  Post the interested-in answer,
  Start scrapping,
  Set current_user.interested_in to true,
  Redirect to the next page
-->



<% else %>


<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">hintr</a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" style="height: 1px;">
      <ul class="nav navbar-nav navbar-right">
        <li>Signed in as <%= current_user.name %></li>
        <li class="active"><%= link_to "Sign out", signout_path, id: "sign_out" %></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
<div id="hints">
  <div class="container">
    <div id="hint-rows">
    </div>
  </div>
</div>


<script>

  $(function() {

    var loadMatches = function loadMatches() {
      return $.ajax({
        url: "/users/<%= current_user.id %>/matches",
        type: 'get'
      });
    };

    loadMatches().done(function(data) {
      for (i=0;i<data[1].length;i++) {

        // Set the match percentage
        var matchPercentage = 100 * data[1][i]['weight'] / data[0];
        var $matchSpan = $('<span>');

        if (Math.floor(matchPercentage) === 100) {
          $matchSpan.text('top match!')
        } else {
          $matchSpan.text(Math.floor(matchPercentage) + '% match');
        }

        // Create the match container
        var $matchDiv = $('<div>');
        $matchDiv.attr('data-id', data[1][i]['related_user_id']);
        $matchDiv.addClass('match col-sm-6 col-md-3 col-lg-3');

        // Load the image
        var $matchPic = $('<img>');
        $matchPic.attr('src', data[1][i]['profile_picture']);
        $matchPic.attr('class', 'img-circle');

        // Put the ring on her
        console.log(data[1][i]);
        if (data[1][i]['relationship_status'] === 'In a relationship') {
          $matchPic.addClass('red-ring');
        } else if (data[1][i]['relationship_status'] == 'Married'){
          $matchPic.addClass('red-ring');
        } else {
          $matchPic.addClass('green-ring');
        }

        // Put it all together
        $matchDiv.append($matchPic);
        $matchDiv.append($matchSpan);
        $('#hint-rows').append($matchDiv);
        $('#show-hints').addClass('hidden');
      }

    }); // loadMatches

  }); // onload

</script>

<% end %>
